

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

h1 {font-family:Georgia;
font-size:20px;
text-align:left;
float:left;
margin-left:10px;
margin-right:10px;
margin-top:0px;
margin-bottom:20px;
font-color:black;
}

h2  { font-family:Georgia;
	font-size:15px;
	float:left;
	margin-top:0px;
	margin-left:20px;
	margin-bottom:10px;
	margin-right:20px;
	text-align:left;
	font-decoration:none;
	font-color:black;
}

h3 {font-family:Georgia;
font-size:16px;
text-align:left;
float:right;
margin-left:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
font-color:black;
text-variant:uppercase;
clear:both;
width:10px;
height:20px;}

h3 #Preparation {font-family:Georgia;
font-size:16px;
text-align:left;
float:right;
margin-left:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:10px;
font-color:black;
text-variant:uppercase;
}

nav {font-family:Georgia;
	font-size:12px;
	text-align:right;
	margin:40px;
	list-style-type:circle;
	color:black;
	font-color:black;	
}

li {font-family:Georgia;
	font-size:15px;
	text-align:left;
	margin-left:40px;
	margin-right:0px;
	margin-bottom:15px;
	margin-top:15px;
	text-decoration:none;
	font-color:black;
	clear:both;}
	
	a {color:black;
		text-decoration:none;}

p {font-family:Georgia;
	font-size:15px;
	text-align:left;
	margin-left:20px;
	margin-right:60px;
	margin-top:5px;
	margin-bottom:0px;
	float:right;
	width:500px;
}
