

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */




body { width:960px; margin:0 auto;}

#site-wrapper
{ 	
	background-color:#FAF8E6;
	width:100%;
	height:90px;
	text-decoration:none;
}

header #site-header {
	position:relative; 
	height:145px;
	width:100%;
	text-decoration:none;
	}

	#site-header h1 a { 
	  display:block;
	  text-indent:-9999px;    
	  position:absolute;
		top:0;
		left:0;
	  width:100%; height:145px;
	  background:url(logo.png) no-repeat left top;
	}
	
	/* extra? contact and log in background top right */
	#site-header nav {
		position:absolute;
		top:0;
		right:100px;
		background-color:#FAF8E6;
		height:21%; width:170px;
		text-family:Helvetica;
		text-size:18px;
		text-decoration:none;
		color:#804224;
	} 
	
	/* mini separating bar in top nav bar 
	#site-header nav {
		position:absolute;
		top:0;
		right:0px;
		background-color:#FAF8E6;
		height:22%; width:100%;
		text-family:Helvetica;
		text-size:18px;
		text-decoration:none;
		color:#804224;
		float:right;
	} */
	
	/* nav background bar */
	#menu-wrapper {
		height:50px; 
		width:120%;
		background-color:#804224;
		
	}
	
	#main-menu {
		margin:0 auto;
		width:80%; /* keep percent the same for widths */
	}
	
	#main-menu li {
		float:left;
	}
	
	/* home shop about us etc */
	nav#main-menu 
	{ 
		font-color:#804224;;
		font-size:20px; 
		text-transform:uppercase; 
		font-family:Helvetica;
		margin-top:10px;
		margin-bottom:5px; 
		display:inline-block; 
		text-decoration:none; } /*top:10px; 
		right:20px; */
		
		/* home shop about us etc */
	nav#main-menu ul li { 
		display:block; 
		float:left; 
		text-indent:80px;
		padding:5px 5px;
		width:200px;
		height:20px;}
		
		/* home shop about us etc */
	nav#main-menu ul li a { 
		display:block; 
		color:white;
		margin-left:10px;
		text-decoration:none;
		font-family:Helvetica;
		font-size:16px;
		font-weight:bold;
		float:left;
	 }
	 
	section#page-content { 
		float:left; 
		width:550px; 
		padding:50px 20px; }
	
	#sidebar {
		float:left;
		width:20%;
		padding-bottom:100px;
	}
	
	#page {
		float:left;
		width:80%;
		margin-top:35px;
	}
	
	#content-wrapper {
		margin:0 auto;
		width:80%;
	}
	
	#footer-wrapper {
		clear:both;
		width:100%;
		height:200px;
		background-color:#804224;
	}
	
	#footer-contact {
		float:left;
		width:30%;
		color:#FAF8E6;
		font-family:Helvetica;
		font-size:25px;
	}
	
	#footer-follow {
		float:right;
		width:30%;
		margin-right:20px;
		color:#FAF8E6;
		font-family:Helvetica;
		font-size:25px;
	}
	
	#site-footer {
		margin:0 auto;
		width:100%;
	}
	
	/* contact us follow us */
	footer h1 {
		color:#FAF8E6;
		font-family:Helvetica;
		font-size:25px;
		float:left;
		margin-left:100px;
		margin-bottom:5px;
		background-color:none;
	}
	
	footer li {
		width:18%;
		height:50px;
		float:right;
		padding:5px;
	}
	
	/* login contact */
	/* mine nav#top-nav 
	{ 
		position:absolute; 
		right:150px; 
		top:0px; 
		background-color:#FAF8E6;
		margin-top:5px; 
		margin-right:10px; 
		margin-left:0px; 
		margin-bottom:5px;
		padding-right:75px; 
		padding-left:50px; 
		padding-bottom:75px; 
		padding-top:3px; 
		font-color:#804224;
		text-decoration:none;
		text-family:Helvetica;
		text-size:20px;
		text-decoration:none;
		text-color:#804224;	
		
	} */
	
		/*
	aside#sidebar { 
		float:right; 
		width:250px; 
		padding:50px 10px;
		margin-right:100px; 	
		margin-left:50px;
	} */
	
	aside h1 { 
		text-align:left;
		text-decoration:none;
		font-family:Helvetica;
		color:#804224;
		font-size:25px;
		text-transform:uppercase;
		font-weight:bold;
		width:300px;
		margin-top:110px;
	}
	
	aside ul { width:80%;
		line-height:1.2em;
		text-decoration:none;
		font-family:Helvetica;
		font-size:15px;
		color:#804224;
	}
	
	aside li {
		text-decoration:none;
		text-color:#804224;
		padding-bottom:12px;
		color:#804224;
	}
			
			/* complete page contents */
	
	h1 {font-family:Helvetica;
		color:#804224;
		font-size:45px;
		text-transform:uppercase;
		font-weight:bold;
		margin-top:50px;
		margin-bottom:5px;
		margin-right:10px;
		margin-bottom:10px;
		text-align:left;}
		
	h2 	{font-family:Helvetica;
		color:#804224;
		font-size:25px;
		text-transform:uppercase;
		font-weight:bold;
		padding-top:0px;
		padding-bottom:5px;
		float:left;
		text-align:left;
	}
	
	p {
		padding-top:5px;
		padding-bottom:10px;
		text-align:left;
		float:left;
		width:86%;
		line-height:1.2em;
	}
	
	footer p {
		font-family:Helvetica;
		font-size:12px;
		float:left;
		width:148px;
		padding-top:5px;
		margin-left:100px;
		padding-bottom:40px;
		line-height:1.4em;
		color:white;
	}




