

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



	body { width:960px; margin:0 auto; }

	header#site-header {
	  position:relative; height:80px;
	}

	#site-header h1 a { 
	  display:block;	
	  text-indent:-9999px;    
	  position:absolute;
	  width:300px; height:80px;
	  background:url(logo.png) no-repeat left top;
	}
	
	/* login contact */
	nav#top-nav 
	{ 
		position:absolute; 
		right:150px; 
		top:0px; 
		background-color:#FAF8E6;
		margin-top:5px; 
		margin-right:10px; 
		margin-left:0px; 
		margin-bottom:5px;
		padding-right:75px; 
		padding-left:50px; 
		padding-bottom:75px; 
		padding-top:3px; 
		font-color:#804224;
		text-decoration:none; 
		text-color:#FAF8E6;
		
	}

	nav#main-menu 
	{ 
		height:30px; 
		background-color:#804224; 
		font-color:black;
		font-size:20px; 
		text-transform:uppercase; 
		font-family:Helvetica;
		padding:20px; 
		margin:5px; 
		display:inline-block; 
		top:10px; 
		right:20px;
		text-decoration:none; }
		
		
	nav#main-menu ul li { 
		display:block; 
		float:left; 
		padding:0 5px; }
		
	nav#main-menu ul li a { 
		display:block; 
		color:white; 
		padding:5px 5px; 
		background-color:#804224; }

	section#page-content { 
		float:left; 
		width:550px; 
		padding:50px 20px; }
	
	aside#sidebar { 
		float:right; 
		width:220px; 
		padding:50px 10px; }

	footer#site-footer {
		clear:both; 
		background-color:black; 
		color:white; 
		padding:10px 0px;}	
	
	h1 {font-family:Helvetica;
		color:#804224;
		font-size:50px;
		text-transform:uppercase;
		font-weight:bold;
		margin-top:50px;
		margin-bottom:5px;
		margin-right:10px;
		margin-bottom:10px;
		text-align:left;}
		
	h2 	{font-family:Helvetica;
		color:#804224;
		font-size:30px;
		text-transform:uppercase;
		font-weight:bold;
		padding-top:10px;
		padding-bottom:5px;
		float:left;
		text-align:left;
	}
	
	p {
		padding-top:5px;
		padding-bottom:10px;
		text-align:left;
		float:left;
		width:55%;
		line-height:1.2em;
	}




