

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */




body { margin:0 auto;}

 #site-header h1 a { 
  	display:block;
  /* text-indent:-9999px;  */
  	position:absolute;
	left:130px;
  	width:20%;
 	height:5%;
/* background:url(images/logo.png) no-repeat left top; */
  color:#804224; background-color:#FAF8E6;
} 

#site-wrapper
{ 	
	background-color:#FAF8E6;
	width:100%;
	height:120px;
	text-decoration:none; 
}

header #site-header {
	position:relative;  
	width:100%;
	text-decoration:none; 
	}
	
	/* extra? contact and log in background top right */
	#site-header nav {
		position:absolute;
		top:0px;							
		right:100px;
		margin-top:10px;
		background-color:#FAF8E6;
	 	width:160px;
		padding-left:410px;
		font-family:Helvetica;
		font-size:14px;
		text-decoration:none;
		font-color:#804224;
		float:right;
	} 
	
	#top-nav a:link {color:#804224; text-decoration:none;
	padding-left:5px; padding-right:5px;}
	
	#top-nav {background-color:#FAF8E6; color:#804224;
		text-decoration:none;}
	
	/* mini separating bar in top nav bar 
	#site-header nav {
		position:absolute;
		top:0;
		right:0px;
		background-color:#FAF8E6;
		height:22%; width:100%;
		text-family:Helvetica;
		text-size:18px;
		text-decoration:none;
		color:#804224;
		float:right;
	} */
	
	/* nav background bar */
	#menu-wrapper {
		height:50px; 
		width:100%;
		background-color:#804224;
		
	}
	
	#main-menu {
		margin:0 auto;
	 	width:70%; /* keep percent the same for widths */
	}
	
	#main-menu li {
		float:left;
	}
	
	/* home shop about us etc */
	nav#main-menu 
	{ 
		font-color:#804224;;
		font-size:20px; 
		text-transform:uppercase; 
		font-family:Helvetica;
		margin-top:8px;
		margin-bottom:5px; 
		display:inline-block; 
		text-decoration:none;
		width:100%;
		padding-left:7%;
	 	} /*top:10px; 
		right:20px; */
		
		/* home shop about us etc */
	nav#main-menu ul li {
		display:block; 
		float:left; 
		padding-top:8px;
		padding-bottom:5px;
		}						
		
		/* home shop about us etc */
	nav#main-menu ul li a { 
		display:block; 
		color:white;
		text-decoration:none;
		font-family:Helvetica;
		font-size:20px; 
		font-weight:bold;
		float:left;
		width:100%;
		margin-left:40px;
	 }
	 
	section#page-content { 
		float:left; 
		width:550px; 
		padding:50px 20px; }
	
	#sidebar {
		float:left;
		width:20%;
		padding-bottom:100px;
	}
	
	#page {
		float:left;
		width:80%;
		margin-top:35px;
	}
	
	#content-wrapper {
		margin:0 auto;
		width:80%; 				
	}
	
	aside h1 { 
		text-align:left;
		text-decoration:none;
		font-family:Helvetica;
		color:#804224;
		font-size:25px;
		text-transform:uppercase;
		font-weight:bold;
		width:300px;
		margin-top:110px;
		margin-bottom:5px;
	}
	
	 aside ul { width:80%;
		line-height:1.2em;
		text-decoration:none;
		font-family:Helvetica;
		font-size:15px;
		color:#804224;
	} 
	
	aside li {
		text-decoration:none;
		font-color:#804224;
		padding-bottom:12px;
		color:#804224;
	}
			
			/* complete page contents */
	
#page	h1 {font-family:Helvetica;
		color:#804224;
		font-size:45px;
		text-transform:uppercase;
		font-weight:bold;	
		margin-top:50px;
		margin-bottom:5px;
		margin-right:10px;
		margin-bottom:10px;
		text-align:left;}
		
	h2 	{font-family:Helvetica;
		color:#804224;
		font-size:25px;
		text-transform:uppercase;
		font-weight:bold;
		padding-top:0px;
		padding-bottom:5px;
		float:left;
		text-align:left;
	}
	
		p {
		padding-top:5px;
		padding-bottom:10px;
		text-align:left;
		float:left;
		width:65%;
		line-height:1.2em;
	}
	
	#footer-wrapper {
		clear:both;
		width:100%; height:205px; 
		background-color:#804224;
	}
	
	#footer-contact {
		float:left;
		width:30%;
		color:#FAF8E6;
		font-family:Helvetica;
		font-size:25px;
	} 				
	
	footer p {
		font-family:Helvetica;
		font-size:12px;
		float:left;
		width:148px;
		padding-left:35%;
		padding-top:5px;
		padding-bottom:40px;
		line-height:1.6em;
		color:white;
	}
	
	#footer-follow {
		float:right;
		width:50%; /* 30% */
	/*	margin-right:80px; */
		color:#FAF8E6;
		font-family:Helvetica;
		font-size:25px;
	}
	
	#footer-header2 {
		padding-left:35%;
	}
	
	#site-footer {
		margin:0 auto;
		width:100%; background-color:#804224;
	}
	
	/* contact us follow us */
	footer h1 {
		color:#FAF8E6;
		font-family:Helvetica;
		font-size:25px;
		float:left;
		/* margin-left:140px; */
		margin-bottom:5px;
		margin-top:20px;
		background-color:none;
		text-transform:uppercase;
		font-weight:bold;
	}
	
	#footer-header1 {
		padding-left:35%;
	}
	
	#footer-header2
{
	float:left; 
}
	
	footer li {
		float:left;
		padding-top:45px; /* 20% */
		width:55px;
			}
	
	footer li #fb {
		margin-top:10%;
	}
	
	/* login contact */
	/* mine nav#top-nav 
	{ 
		position:absolute; 
		right:150px; 
		top:0px; 
		background-color:#FAF8E6;
		margin-top:5px; 
		margin-right:10px; 
		margin-left:0px; 
		margin-bottom:5px;
		padding-right:75px; 
		padding-left:50px; 
		padding-bottom:75px; 
		padding-top:3px; 
		font-color:#804224;
		text-decoration:none;
		text-family:Helvetica;
		text-size:20px;
		text-decoration:none;
		text-color:#804224;	
		
	} */
	
		/*
	aside#sidebar { 
		float:right; 
		width:250px; 
		padding:50px 10px;
		margin-right:100px; 	
		margin-left:50px;
	} */


